{% extends 'base.html.twig' %}

{% block title %}Film index{% endblock %}

{% block body %}
    <h1 class="text-primary">Films</h1>

    <a class="btn btn-primary px-4" href="{{ path('app_film_new') }}">+</a>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Duree</th>
                <th>Description</th>
                <th>Genre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for film in films %}
            <tr>
                <td>{{ film.id }}</td>
                <td>{{ film.nom }}</td>
                <td>{{ film.duree ? film.duree|date('H:i:s') : '' }}</td>
                <td>{{ film.description }}</td>
                <td>{{ film.genre }}</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{{ path('app_film_show', {'id': film.id}) }}">show</a>
                    <a class="btn btn-sm btn-warning" href="{{ path('app_film_edit', {'id': film.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6" class="text-center text-secondary">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}