{% extends 'base.html.twig' %}

{% block title %}Salle index{% endblock %}

{% block body %}
    <h1 class="text-primary" style="color: #336699;">Places</h1>
    <a class="btn btn-primary px-4" href="{{ path('app_place_new') }}">+</a>
    <table class="table table-striped table-hover">
        <thead>
            <tr style="background-color: #eeeeee;">
                <th>Id</th>
                <th>Num</th>
                <th>Capacite</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for salle in salles %}
            <tr>
                <td>{{ salle.id }}</td>
                <td>{{ salle.num }}</td>
                <td>{{ salle.capacite }}</td>
               <td>
                 <a class="btn btn-sm btn-primary" href="{{ path('app_salle_show', {'id': salle.id}) }}">show</a>
                 <a class="btn btn-sm btn-warning" href="{{ path('app_salle_edit', {'id': salle.id}) }}">edit</a>
               </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" style="text-align: center; color: #999999;">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}